<!DOCTYPE html> 

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Messenger App</title>
    </head>    
<body>
    <script src = "/socket.io/socket.io.js"></script>
    <script> 
        var body = document.getElementsByTagName('body');
        var socket = io();

        body.onload = function(){
            socket.emit('onload')
        }

        var send = function() {
            var text = document.getElementById('messageInput').value;
            var user = document.querySelector('#username').value;
            socket.emit('message', {"user":user,"content":text})
        }
        
        var receive = function(message) {
            var li = document.createElement('li');
            var p_user = document.createElement('p');
            p_user.classList.add('message-user');
            p_user.innerText = message.user;
            var p_content = document.createElement('p');
            p_content.classList.add('message-content');
            p_content.innerText = message.content;
            li.appendChild(p_user);
            li.appendChild(p_content);
            // li.innerText = message.user + message.content;
            
            document.getElementById('messages').appendChild(li);
        }

        var onload = function(message) {
            var li = document.createElement('li');
            li.innerText = message.user ;
            document.getElementById('messages').appendChild(li);
        }
        var login = function(){
            var text = document.getElementById('username').value;
            // console.log(text);
            // console.log({"Username":text});
            socket.emit('message',{"user":text,"content":""});
        }
        
        socket.on('message', receive);
        socket.on('onload', onload);
    
    </script>


    <h1>Enter Session Username</h1>
    <input type="text" id="username"><button onclick="login()">log in</button>
    <div class="table-container">
        <ul id="messages">
            
        </ul>
        <div class="zone-saisie">
            <input id="messageInput" /> <button onclick="send()"> Envoie</button>
        </div>
    </div>
</body> 
</html>